<%content.fullMenu=true%>
<%include "header.gsp"%>

	<%include "menu.gsp"%>

	<div class="page-header">
	</div>

	<%
		def f = new File(content.uri)
		def url = "${content.uri - f.name}revealjs/slide-${f.name}"
	%>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">
		<iframe style="width: 75vw;height: 75vh;position: relative;" frameborder="0" allowfullscreen
				src="<%if (content.rootpath) {%>${content.rootpath}<% } else { %><% }%>${url}" frameborder="0" class="deck-frame">
		</iframe>
		</div>
	</div>
	
<%include "footer.gsp"%>
